<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <!--evitar ataques de cross site scripting (injeção de dados)-->
    <meta http-equiv="content-security-policy" content="default-src 'self'; script-src 'self'">
    <title>Titulo Electron</title>
</head>
<body>
    <H1>Hello Electron</H1>
    <!--script-->
    <script src="../public/js/app.js"></script>
</body>
</html>